.master {
    width: 960px; margin: 0 auto;
}

.campo {
    margin-bottom: 1em;
}

.campo input:focus, .campo select:focus {
    background: #f8f8f8;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 2em;
}

.errorBlock {
    color: #000;
    background-color: #ffeeee;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.error {
    color: #ff0000;
    font-size: 8pt;
}